Repository pimenta94/smb: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

chore(setup): Add README file
  README.md
Due: none

chore(setup): Add typecheck to pre-commit hook
  .husky/pre-commit
  apps/ng-app/package.json
  apps/ng-app/tsconfig.app.json
  apps/ng-app/tsconfig.json
  apps/ng-app/tsconfig.spec.json
  package.json
  packages/config/package.json
Due: prettier --write

chore(setup): Fix yarn start script
  package.json
Due: prettier --write

style(ng-app): Set relative paths to scss theme files
  apps/ng-app/angular.json
  apps/ng-app/src/app/app.component.html
  apps/ng-app/src/app/app.component.scss
  apps/ng-app/src/theme/variables.scss
Due: prettier --write

chore(setup): Add smb-type package
  .eslintignore
  .gitignore
  apps/express-api/package.json
  apps/ng-app/package.json
  apps/ng-app/src/app/app.component.html
  packages/config/package.json
  packages/smb-types/index.ts
  packages/smb-types/package.json
  packages/smb-types/src/declaration1.d.ts
  packages/smb-types/src/declaration2.d.ts
  yarn.lock
Due: eslint, prettier --write

feat(ng-app): Add bootstrap and app structure
  .nvmrc
  apps/express-api/src/app.ts
  apps/ng-app/angular.json
  apps/ng-app/package.json
  apps/ng-app/src/app/app-routing.module.ts
  apps/ng-app/src/app/app.component.html
  apps/ng-app/src/app/app.component.scss
  apps/ng-app/src/app/app.module.ts
  apps/ng-app/src/app/material.module.ts
  apps/ng-app/src/app/pages/account/account.component.html
  apps/ng-app/src/app/pages/account/account.component.scss
  apps/ng-app/src/app/pages/account/account.component.spec.ts
  apps/ng-app/src/app/pages/account/account.component.ts
  apps/ng-app/src/app/pages/auth/login/login.component.html
  apps/ng-app/src/app/pages/auth/login/login.component.scss
  apps/ng-app/src/app/pages/auth/login/login.component.spec.ts
  apps/ng-app/src/app/pages/auth/login/login.component.ts
  apps/ng-app/src/app/pages/auth/signup/signup.component.html
  apps/ng-app/src/app/pages/auth/signup/signup.component.scss
  apps/ng-app/src/app/pages/auth/signup/signup.component.spec.ts
  apps/ng-app/src/app/pages/auth/signup/signup.component.ts
  apps/ng-app/src/app/pages/dashboard/dashboard.component.html
  apps/ng-app/src/app/pages/dashboard/dashboard.component.scss
  apps/ng-app/src/app/pages/dashboard/dashboard.component.spec.ts
  apps/ng-app/src/app/pages/dashboard/dashboard.component.ts
  apps/ng-app/src/app/pages/pages.module.ts
  apps/ng-app/src/app/theme/variables.scss
  apps/ng-app/src/index.html
  apps/ng-app/src/styles.scss
  yarn.lock
Due: eslint, prettier --write

chore(setup): Remove conflit with standard eslint plugin
  packages/config/eslint-preset.js
  packages/config/package.json
  yarn.lock
Due: eslint, prettier --write

feat(api): Connect to atlas
  .commitlintrc.json
  apps/express-api/.env
  apps/express-api/.eslintrc.js
  apps/express-api/package.json
  apps/express-api/src/api/activities.ts
  apps/express-api/src/api/index.ts
  apps/express-api/src/app.ts
  apps/express-api/src/index.ts
  apps/express-api/src/models/activityModel.ts
  apps/express-api/src/mongo-config.ts
  apps/express-api/tsconfig.json
  packages/config/eslint-preset.js
  packages/smb-types/index.ts
  packages/smb-types/src/Activity.ts
  packages/smb-types/src/declaration1.d.ts
  packages/smb-types/src/declaration2.d.ts
  yarn.lock
Due: eslint, prettier --write

chore(api): Test rialway deploy
  apps/express-api/src/app.ts
Due: eslint

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

chore(fp-gym-lab): Add react app base code
  apps/fp-gym-lab/.eslintignore
  apps/fp-gym-lab/.eslintrc.js
  apps/fp-gym-lab/.gitignore
  apps/fp-gym-lab/README.md
  apps/fp-gym-lab/package.json
  apps/fp-gym-lab/public/favicon.ico
  apps/fp-gym-lab/public/index.html
  apps/fp-gym-lab/public/logo192.png
  apps/fp-gym-lab/public/logo512.png
  apps/fp-gym-lab/public/manifest.json
  apps/fp-gym-lab/public/robots.txt
  apps/fp-gym-lab/src/App.css
  apps/fp-gym-lab/src/App.test.tsx
  apps/fp-gym-lab/src/App.tsx
  apps/fp-gym-lab/src/index.css
  apps/fp-gym-lab/src/index.tsx
  apps/fp-gym-lab/src/logo.svg
  apps/fp-gym-lab/src/react-app-env.d.ts
  apps/fp-gym-lab/src/reportWebVitals.ts
  apps/fp-gym-lab/src/setupTests.ts
  apps/fp-gym-lab/tsconfig.json
Due: eslint, prettier --write

chore(fp-gym-lab): Add react app base code
  apps/fp-gym-lab/src/App.tsx
Due: eslint

chore(fp-gym-lab): Add react app base code
  apps/ng-app/src/app/pages/account/account.component.html
  apps/ng-app/src/app/pages/auth/login/login.component.html
Due: none

chore(fp-gym-lab): Trigger test
  .commitlintrc.json
  apps/ng-app/src/app/pages/auth/login/login.component.html
  yarn.lock
Due: prettier --write

chore(fp-gym-lab): Trigger test
  apps/fp-gym-lab/src/App.tsx
Due: eslint

chore(fp-gym-lab): Trigger test
  apps/fp-gym-lab/package.json
  apps/fp-gym-lab/src/App.styles.ts
  apps/fp-gym-lab/src/App.tsx
Due: eslint, prettier --write

chore(fp-gym-lab): Trigger test
  apps/fp-gym-lab/src/App.tsx
  yarn.lock
Due: eslint

Update README.md
  README.md
Due: none

chore(base): Fix scripts
  apps/web/package.json
  package.json
Due: prettier --write

chore(web): Set base code and theme
  apps/web/package.json
  apps/web/src/App.css
  apps/web/src/App.styles.ts
  apps/web/src/App.test.tsx
  apps/web/src/App.tsx
  apps/web/src/index.css
  apps/web/src/index.tsx
  apps/web/src/logo.svg
  apps/web/src/pages/home/index.tsx
  apps/web/src/pages/root/index.tsx
  apps/web/src/pages/services/index.tsx
  apps/web/src/react-app-env.d.ts
  apps/web/src/reportWebVitals.ts
  apps/web/src/routes.tsx
  apps/web/src/setupTests.ts
  apps/web/src/theme/custom-media.ts
  apps/web/src/theme/custom-properties.ts
  apps/web/src/theme/global.styles.ts
  apps/web/tsconfig.json
  package-lock.json
  yarn.lock
Due: eslint, prettier --write

chore(web): Set tsconfig paths
  apps/web/.eslintrc.js
  apps/web/package.json
  apps/web/tsconfig.json
  packages/config/eslint-preset.js
  packages/config/package.json
  yarn.lock
Due: eslint, prettier --write

chore(web): Set craco config
  apps/web/craco.config.js
  apps/web/package.json
  apps/web/react-app-env.d.ts
  apps/web/src/components/header/Header.styles.ts
  apps/web/src/components/header/Header.tsx
  apps/web/src/components/header/index.tsx
  apps/web/src/pages/home/Home.tsx
  apps/web/src/pages/home/index.tsx
  apps/web/src/pages/root/Root.tsx
  apps/web/src/pages/services/Services.tsx
  apps/web/src/pages/services/index.tsx
  apps/web/src/routes.tsx
  apps/web/tsconfig.json
  yarn.lock
Due: eslint, prettier --write

feat(web): Start Header
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/components/header/Header.styles.ts
  apps/web/src/components/header/Header.tsx
  apps/web/src/components/icons/FP-Icon.tsx
  apps/web/src/pages/home/Home.styles.ts
  apps/web/src/pages/home/Home.tsx
  apps/web/src/theme/custom-properties.ts
  apps/web/src/theme/global.styles.ts
  apps/web/src/theme/mui-theme.ts
  yarn.lock
Due: eslint, prettier --write

chore(web): Try some layouts
  apps/web/src/components/header/Header.styles.ts
  apps/web/src/components/video-player/VideoPlayer.styles.ts
  apps/web/src/components/video-player/VideoPlayer.tsx
  apps/web/src/pages/home/Home.styles.ts
  apps/web/src/pages/home/Home.tsx
  apps/web/src/theme/global.styles.ts
Due: eslint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.json
